* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.containerBlur {
	height: fit-content;
	backdrop-filter: blur(8px);
	background-color: #00000050;
	border-radius: 8px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px 0 #ffffff80;
}