* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	user-select: none;
}

html, body {
    height: 100%;
}

.containerBlur {
	height: fit-content;
	backdrop-filter: blur(8px);
	background-color: #00000050;
	border-radius: 8px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px 0 #ffffff80;
}

.line {
    position: relative;
    width: 70%;
    left: 15%;
    height: 1px;
    background-color: white;
	box-shadow: 0 0 10px 0 #ffffff80;
}

.popUp {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	text-wrap: nowrap;
}

@keyframes shine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}