.containerBlur {
    width: 25%;
}

.authInput {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 12px;
}

.authInput:hover, .authInput:focus {
    background-color: transparent;
    box-shadow: 0 0 14px 0 #ffffff80;
    color: white;
}

.authInput::placeholder {
    color: rgba(255, 255, 255, 0.3);
}