a {
    color: white;
    text-decoration: none;
}

.navbar {
	background: linear-gradient(-45deg, #1e151e, #b7a0c1, #401851, #1e151e);
    animation: gradient 30s infinite ;
    background-size: 400% 400%;
}

@media (min-width: 992px) {

    .nav-text {
        position: relative;
        --width: 0%;
        --left: 0;
    }

    .nav-text:hover {
        --width: 60%;
        --left: 60;
    }

    .nav-text::before {
        content: "";
        height: 2px;
        width: var(--width);
        background-color: #323232;
        position: absolute;
        left: calc(50% - 0.5% * var(--left));
        bottom: 15%;
        transition: width 500ms, left 500ms;
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}